img{
    height: 200px;
    width: auto;
    margin-bottom: auto;
    margin: 40px 0px
    
}
.col-3 {
    width: 30vw;
    margin-right: 10px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    height: 300px;
}
.btn {
    width: 150px;
    margin-left: none;
    margin-right: none;
    margin-bottom: 10px;
    padding: 10px;
}
.price {
    display: flex;
}