*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #4ca2cd, #67B26F);
}
hr{
    margin-top: 0px;
    margin-bottom: 2px;
}
.container{
    margin-top: 10px;
}
.row{
    /* margin-top: 10px; */
    width: auto;
    padding-top: 0px;
    padding-bottom: 10px;
}
.col-4{
    background-color: white;
    border-radius: 10px;
    height: 140px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}
img{
    height: 100px;
    width: auto;
}
p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;

}
.footer{
    background-color: black;
    padding-top: 20px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 10px;
   
}